body {
    padding: 20px;
}

div {
	margin:0;
	padding:0;
}

#myChart {
	position:fixed;
	bottom:50px;
	right:50px;
}

#popup {
	position: absolute;
	top:100px;
	right:-700px;
	opacity:0;
	width:600px;
	height:350px;
	background color:white;
}

#popup #header {
	position: relative;
	width:100%;
	height:80px;
	background-color: #2575B2;
}

#header h1 {
	font-family: 'Karla', sans-serif;
	font-weight:bold;
	font-size:1.5em;
	color:white;
	padding:25px 0 0 20px;
	margin:0;
}

#header img {
	height:30px;
	width:36px;
	position: absolute;
	top:24px;
	right:24px;
}

#popup #stories {
	width:348px;
	height:270px;
	background-color: #313131;
	display:inline-block;
	float:left;
	border-right:solid white 2px;
}

	#stories .recommended {
		height: 134px;
		width:348px;
		font-family: 'Karla', sans-serif;
		font-size:1em;
		color:grey;
		margin:0;
		padding:0;
	}

	#stories .recommended:hover {
		background-color: #2575B2; 
	}

	#stories #recommended1 {
		border-bottom: white 2px solid;
	}

	.recommended .standfirst {
		color:white;
	}

	.recommended p:nth-child(1) {
		padding:26px 20px 0 20px;
		margin:0;
	}

	.recommended p:nth-child(2) {
		padding:8px 20px 0 20px;
		margin:0;
	}

	#popup a {
		text-decoration: none;
		color:#CEEAFF;
	}

	#popup .share a {
		font-family: 'Karla', sans-serif;
		font-style: italic;
		color:grey;
	}

#popup #chartbox {
	float:left;
	display:inline-block;
	width:250px;
	height:270px;
	background-color:#313131;
	text-align: center;
}

#chartbox h2 {
	font-family: 'Karla', sans-serif;
	font-weight: bold;
	font-size:1.2em;
	color:white;
	padding:0;
	margin:20px 0 10px 0;
}

#chartbox canvas {
	margin:10px auto;
}


